<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome my educational project </title>
        <h1 align="center">CAR DEALERSHIP</h1>
	</head>

	<body>

        <img  src="https://i2.photo.2gis.com/images/branch/23/3236962276424318_9ee5.jpg" width="1900"height="1000"
		alt="Ссылка на av.by">
		<ul>
            <li> 3 гарантии</li>
            <li>сервисное обслуживание</li>
			<li>европейское качество</li>
        </ul>


        <a  href="https://av.by"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Logo_av.by.png"width="200"height="50"> /></a>

	           <li align="right" > SALE!!! </li>
        <table align="right" border="10px">
        <tr>
		<th>Model</th>
        <th>Name</th>
        <th>Price</th>
        </tr>
         <td>Hyndai </td>
         <td>Accent </td>
         <td>12000 </td>
        </tr>

     </body>

  </html>











